{% extends "base.html" %}
{% block title %}Websites{% endblock %}
{% block content %}
    <section class="websites mt-5 pt-5 container d-flex flex-column">
        <div class="d-flex justify-content-sm-end pb-3" style="border-bottom: 1px solid #ababab;">
            <a href="{% url 'add_website' %}" class="mr-5 btn btn-lg btn-success text-uppercase">Thêm website</a>
        </div>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    {% ifequal message.tags 'success' %}
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1">
                                <div class="alert alert-warning alert-dismissible fade in text-center" role="alert">
                                    <span>{{ message }}</span>
                                </div>
                            </div>
                        </div>
                    {% endifequal %}
                {% endfor %}
            </ul>
        {% endif %}
        {% if contents.websites|length == 0 %}
            <div class="text-center mb-2 mt-2" style="margin-top: auto; margin-bottom: auto">
                <h6>Chưa có dữ liệu về website đang theo dõi.</h6>
                <h6>Hãy thêm website để bắt đầu quá trình theo dõi</h6>
            </div>
        {% else %}
            <div class="d-sm-flex flex-sm-row flex-sm-wrap align-items-center mt-2">
            {% for website in contents.websites %}
                <div class="mt-3 mr-5">
                    <div class="card bg-light" style="width: 20rem; height: 13rem;">
                        <div class="card-body">
                            <a href="{% url 'monitor_website' website.id %}"
                               class="d-inline-block card-title h4 mb-2 text-secondary">
                                {{ website.name | truncatechars:20 }}
                            </a>
                            <h6 class="card-subtitle h6 mb-2 text-muted text-lowercase">{{ website.id | truncatechars:20 }}</h6>
                            <p class="card-text">
                                {{ website.create_at }}
                            </p>
                        </div>
                        <div class="card-body mt-n4 d-flex justify-content-end pr-5 align-items-end">
                            <a href="#" class="d-inline-block card-link"><i data-toggle="modal"
                                                                            data-target="#confirmDeleteModalinHomePage{{ website.id }}"
                                                                            class="fas fa-trash-alt"></i></a>
                            <a href="{% url 'edit_website' website.id %}" class="d-inline-block card-link"><i
                                    class="fas fa-edit"></i></a>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="confirmDeleteModalinHomePage{{ website.id }}" tabindex="-1"
                     role="dialog"
                     aria-hidden="true">
                    <div class="modal-dialog modal-sm" role="document">
                        <div class="modal-content p-3">
                            <p>Bạn muốn xoá {{ website.name }} ?</p>
                            <form action="{% url 'delete_website' website.id %}"
                                  class="modal-action d-flex justify-content-center mb-2">
                                {% csrf_token %}
                                <button type="button" class="btn mx-2 btn-danger text-uppercase"
                                        data-dismiss="modal">Bỏ qua
                                </button>
                                <button type="submit" class="btn mx-2 btn-success text-uppercase">Đồng ý</button>
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
        </div>
    </section>
    <br/>
    <br/>
{% endblock %}
