{% extends "base.html" %}
{% block title %}Quên mật khẩu{% endblock %}
{% block active %}
    <form class="form-inline my-2 my-lg-0">
        <a class="btn btn-outline-success my-2 my-sm-0 mr-3 " href="{% url 'login' %}">Đăng nhập</a>
        <a class="btn btn-outline-success my-2 my-sm-0  " href="{% url 'register' %}">Đăng ký</a>
    </form>
{% endblock %}
{% block content %}
    <form method='POST'>
        {% csrf_token %}
        <div class="row justify-content-center align-items-center ">
            <div class="col-lg-6 ">
                <div class="container card mt-5 mb-5" style="background-color: #f8f8f8;">
                    </br>
                    <h5>Quên mật khẩu</h5>
                    <hr/>
                    <div class="row border-primary d-flex justify-content-center align-items-center ">
                        <div class="col-lg-8 row">

                            <div class="col-lg-12">
                                <div class="form-group text-center">
                                    <label for=""><h6>Bạn đã đổi mật khẩu thành công.Bạn có thể đăng nhâp tài khoản bằng
                                        mật khẩu mới. </h6></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}